.Recommend {
  display: flex;
  margin-top: 1.4rem;
  padding-top: 1rem;
  border-top:1px solid var(--color-gray-dark-2);
  justify-content: space-around;
  align-items: center;
  .friend {
    margin-left: auto;
    display: flex;
  }
  .photo {
    border-radius: 50%;
    width: 2.5rem;
  }
}
