.SideBars {
  background-color: var(--color-gray-dark-1);
  flex: 0 0 18%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sideNav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;
    margin-bottom: auto;
  }
  .item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    .link {
      color: #fff;
      text-decoration: none;
      &:link,&:visited{
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        z-index: 10;
        color: #fff;
        position: relative;
      }
    }
    .icon {
      width: 1.75rem;
      height: 1.75rem;
      margin-right: 2rem;
      margin-left: 0.5rem;
    }
  
   
  }
  .item::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 3px;
    height: 100%;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
    transform-origin: bottom;
  }
  .item:hover::before,.item .active{
    transform: scaleY(1);
    width: 100%;
  }
  .legal {
    font-size: 1.4rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
  }
}
