.main {
  display: flex;
  flex-direction: column;
  .Details {
    display: flex;
    .info {
      display: flex;
      flex-direction: column;
      flex: 0 0 50%;
      margin-left: 1.2rem
    }
  }
  .submitBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
}
