

.btnMeduim{
    outline: none;
    border: none;
    text-align: center;
    padding: 1.4rem 3rem;
    text-transform: capitalize;
    background-color: var(--color-gray-light-4);
    color: var(--color-gray-dark-1);
    border-radius: 2rem;
    width: 22rem;
    font-size: 1.8rem;
    font-family: inherit;
    &:hover{
        cursor: pointer;
        background-image: linear-gradient(to bottom ,var(--color-gray-dark-2),var(--color-gray-dark-3))
    }
  }
