.Typographe {
  text-align: center;
  .bigTypographe {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 4.5rem;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
    color: var(--color-gray-dark-2);
  }
  .smallTypographe {
    font-size: 1.5rem;
    padding: 0 1.5rem;

    color: var(--color-gray-dark-2);
    &:not(:last-child) {
      margin-right: 1rem;
      background-color: var(--color-gray-light-4);
    }
  }

}
.paragraph {
    font-size: 1.4rem;
    text-transform: capitalize;
    color: var(--color-gray-dark-2);
   
    &:not(:last-child) {
      margin-bottom: 1.4rem;
    }
  }
